body {
    background-color: #3e4044;
}

.scrollMark {
    color: white;
    font-size: 1.8rem;
    margin-top: 20rem;
    // position: relative;
}

.introTxt.first {
    margin: 20rem 10rem;
}

.introTxt {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 50rem 0;
}

.scene {
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
}

.one {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)), url(img/image1.jpg);
    height: 80vh;
}

.two {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)), url(img/image2.jpg);
    height: 80vh;
}

.three {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)), url(img/image3.jpg);
    height: 80vh;
}

.four {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)), url(img/image4.jpg);
    height: 80vh;
}

.five {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)), url(img/image5.jpg);
    height: 80vh;
}