.RecordPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgba($color: #888888, $alpha: 0.8);

  .Record {
    height: 75vh;
    width: 80vw;
    border: 4px solid #222222;
    background-color: #DDDDDD;
    border-radius: 0.5rem;

    .xBtn {
      position: fixed;
      font-size: 2rem;
      border: none;
      background-color: transparent;
      padding-top: 1rem;
      bottom: 80vh;
      left: 83vw;
    }

    .record-form {
      height: 75vh;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: space-between;
      padding: 0 5rem;
      font-size: 1.4rem;
      font-weight: bold;

      .RecordPage-title {
        font-size: 2.4rem;
        font-weight: bold;
        padding: 3rem;
      }

      .record-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 3rem;

        // align-items: center;
        .record-box {
          .record-pic {
            width: 10rem;
            height: 14rem;
            border: none;
            border-radius: 0.5rem;
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/JohnvonNeumann-LosAlamos.gif/200px-JohnvonNeumann-LosAlamos.gif');
          }
          p {
            margin: 10px;
          }
        }

        .record-box:nth-child(2) {
          .record-pic {
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Bill_Gates_2014.jpg/220px-Bill_Gates_2014.jpg');
          }
        }

        .record-box:nth-child(3) {
          .record-pic {
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Sergey_Brin_cropped.jpg/200px-Sergey_Brin_cropped.jpg');
          }
        }
      }
    }
  }
}