.categorybox {
  height: 2.8rem;
  width: 5.8rem;
  border: 2px solid white;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  color: #a68b5a;
  display: flex;
  align-items: center;
  justify-content: center;
}