.categorybox {
  height: 2rem;
  width: 5.8rem;
  border: 2px solid #e6b87c;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  color: #e6b87c;
  display: flex;
  align-items: center;
  justify-content: center;
}