header {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 2rem;
    position: fixed;
    top: 0; left: 0; right: 0;

    h1 {
        font-size: 4.5rem;
        font-weight: bold;
        color: white;
        margin: 0;
    }

    button.start {
        font-size: 1.6rem;
        font-weight: bold;
        background-color: #333333;
        color: #FFBB00;
        border-radius: 2rem;
        border: none;
        height: 3rem;
        padding: 0 1.4rem;
        margin-top: 1.2rem;
    }

    button.iconBtn {
        background-color: transparent;
        border: none;
        font-size: 2.2rem;;
        margin-left: 1.4rem;
        margin-top: 1.2rem;
    }
}