header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 2rem;
    position: fixed;
    top: 0; left: 0; right: 0;

    h1 {
        font-size: 3.5rem;
        font-weight: bold;
        color: #DDDDDD;
        margin: 0;
    }

    .inputBox {
        position: relative;
    }

    .inputField {
        font-size: 1.6rem;
        width: 25vw;
        font-weight: bold;
        background-color: #3e4044;
        color: #DDDDDD;
        border-radius: 2rem;
        border: none;
        height: 2.5rem;
        padding-right: 3.2rem;
        padding-left: 1.2rem;
        margin-top: 0.9rem;
        outline: none;
    }

    .inputBtn {
        background-color: transparent;
        border: none;
        font-size: 1.6rem;;
        position: absolute;
        color: #DDDDDD;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        cursor: pointer;
    }

    .startBtn {
        font-size: 1.6rem;
        font-weight: bold;
        background-color: #1e1f21;
        color: #a68b5a;
        border-radius: 1.6rem;
        border: none;
        height: 2.2rem;
        padding: 0.2rem 1rem;
        margin-top: 1rem;
        cursor: pointer;
    }

    .iconBtn {
        background-color: transparent;
        color: #DDDDDD;
        border: none;
        font-size: 2rem;;
        margin-left: 1rem;
        margin-top: 1rem;
        cursor: pointer;
    }

    .iconBtn.start {
        color: #1e1f21;
    }
}

header.start {
    background-color: transparent;
}