.FullPage {
  .MainPage {
    // height: 100vh;
    width: 100vw;
    background-image: url(background-film.png);
    background-color: gray;
    background-size: 1550px 600px;
    background-position-x: -7px;
    background-position-y: 115px;
    background-repeat: no-repeat;
    padding-bottom: 13%;

    .container {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      grid-template-rows: repeat(2, 200px);
      height: 100%;
      gap: 15px;
      justify-content: center;
      align-items: center;
      padding-top: 12%;
    }

    .category-list {
      display: grid;
      grid-template-columns: repeat(7, 120px);
      gap: 20px;
      position: fixed;
      bottom: 11%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}