.mainPage {
  display: flex;
  background-image: url(background-film.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  height: calc(100vh - 12.5rem);
  padding: 3.4rem 0;
  justify-content: space-between;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem;
  }

    .category-list {
      display: flex;
      justify-content: space-between;
      padding: 2rem 8rem;
  }
}